.center {
    /* border: 5px solid #FFFF00; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.text-box {
    width: 30vw;
    font-size: larger;
    margin: 1vh;
}

.button {}


.center_container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}



.accept-challenge-prompt {
    background: rgba(6, 6, 114, 0.318);
    border: solid 3px darkblue;
    border-radius: 1%;
    width: 50vw;
    text-align: center;
    padding: 2vh;
    margin: 2vh;
}


.square {
    border: 1px black solid;
    width: 10vw;
    height: 10vw;
    margin: 0;
}

.square-highlighted {
    background: yellow;
}

.battle-unit-sprite {
    /* width: 10vw; */
    height: 10vw;
}





.center-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.highlighted-player-name {
    color: red;
    font-weight: bold;
}






/* dsdm */

.transparent_button {
    border: 1px black dotted;
    margin: 1vh;
    padding: 1vh;
    /* background-color: var(--normal-item-color); */
    color: white;
}

.transparent_button {
    background: transparent;
    border: none;
    border-radius: 100%;
    padding: 1vw;
}

.transparent_button:hover,
.transparent_button:focus {
    outline: 2px orange solid;
    color: orange;
}


.game-over-popup{
    border: solid black 5px;
    padding: 10px;
    width: 30vw;
    height: 30vw;
    font-size: large;
    background: yellow;
    color: red;
    z-index: 100000;
    text-align: center;      
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}



/* Game over box */
/* .gameover{
    border: solid black 5px;
    padding: 10px;
    width: 30vw;
    height: 30vw;
    font-size: large;
    background: yellow;
    color: red;
    z-index: 100000;
    text-align: center;      
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count:infinite;
} */


@keyframes pulse {
   
    0%{}
    50%{transform: scale(0.9)}
    100%{}
}





/* https://designshack.net/articles/css/5-simple-and-practical-css-list-styles-you-can-copy-and-paste/ */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: solid black 1px;
    width: fit-content;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid black;
}

li:last-child {
    border: none;
}

li {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;

    /* -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease; */
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:hover {
    font-size: 30px;
    background: #f6f6f6;
}