.center {
    /* border: 5px solid #FFFF00; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.text-box{
    width: 30vw;
    font-size: larger;
    margin: 1vh;
}

.button{
    
}


.center_container{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}



.accept-challenge-prompt{
    background: rgba(6, 6, 114, 0.318);
    border: solid 3px darkblue;
    border-radius: 1%;
    width: 50vw;
    text-align: center;
    padding: 2vh;   
    margin: 2vh;
}


.square{
    border: 5px black solid;
    width: 10vw;
    height: 10vw;
    margin: 0;
}

.square-highlighted{
    background: yellow;   
}